#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;
    background-color: #2BAE66;
    opacity: .75;
}

#counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    box-shadow: 10px -10px black;
    background-color: #FCF6F5;
}

button {
    width: 80%;
    height: 10%;
    box-shadow: 5px -5px black;
    font-size: xx-large;
    background-color: #2BAE66;
}



